@import "tailwindcss";
input:-webkit-autofill {
    transition: background-color 9999s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px #fff inset;  
  }
  
input {
    outline: none;
}

.Container {
  width: 90%;
  margin: 0 auto;
}